.bilibili {
  background: url(/images/bilibili.svg);
  background-position: 50% 75%;
  background-repeat: no-repeat;
  height: 1rem;
  width: 1rem;
}

body {
    background: url(/images/background.png)//更换背景图片
    background-repeat: no-repeat; //不重复
    background-attachment: fixed; //是否要滚动，fixed不滚动
    background-size: cover;      //是否填充，cover填充
    background-position: center; //背景图片位置
}

.sidebar-inner {
  background: rgba(198,226,255,0.5) none repeat scroll !important; 
}


 
//菜单栏的调色
.header-inner {		
  background: rgba(202,225,255,0.7);
}

//搜索框透明
.popup {		
  opacity: 1;
}


.content-wrap { 	//整个主体的透明度
   opacity: 0.95;
}